<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="error" *ngIf="message else list">{{ message }}</div>
        <ng-template #list>
            <div class="row list-group">
                <div class="col-xs-12 list-group-item" *ngFor="let location of locations">
                    <h4>
                        <a [routerLink]="['./', location._id]">{{ location.name }}</a>
                        <small class="px-2">
                            add start rating
                        </small>
                        <span class="badge bg-primary">distance</span>
                    </h4>
                    <p>{{ location.address }}</p>
                    <div class="row gx-1">
                        <div class="col col-auto px-1" *ngFor="let facility of location.facilities">
                            <div class="col col-auto px-1">
                                <div class="alert alert-secondary m-0">{{ facility }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="col-xs-12 col-sm-4">
        <p class="lead">sidebar</p>
    </div>
</div>
