extends layout
block content
  #banner
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | MEAN was created to help people find places to sit down and get a bit work done.
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ea eaque, ex fuga minus, natus nisi perferendis porro quasi quis sit sunt voluptatem voluptates. Hic ipsum quam sit soluta suscipit!
