<div *ngIf="location$ | async as myLocation else loader;">
    <div class="w-full grid grid-cols-1 gap-y-8 gap-x-6 items-start sm:grid-cols-12 lg:gap-x-8">
        <div class="aspect-w-2 aspect-h-3 rounded-lg bg-gray-100 overflow-hidden sm:col-span-4 lg:col-span-5">
            <img src="https://i.picsum.photos/id/163/2000/1333.jpg?hmac=htdHeSJwlYOxS8b0TTpz2s8tD_QDlmsd3JHYa_HGrg8" alt="img" class="object-center object-cover">
        </div>
        <div class="sm:col-span-8 lg:col-span-7">
            <h2 class="text-2xl font-extrabold text-gray-900 sm:pr-12">{{ myLocation.name }}</h2>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ myLocation.address }}</p>
            <section aria-labelledby="information-heading" class="mt-2">
                <!-- Reviews -->
                <div class="mt-6">
                    <div class="flex items-center">
                        <div class="flex items-center">
                            <app-rating [locationRating]="myLocation.rating"></app-rating>
                        </div>
                        <a href="#" class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500">{{ myLocation.reviews.length }} reviews</a>
                    </div>
                </div>
            </section>

            <section aria-labelledby="options-heading" class="mt-10">
                <div *ngIf="myLocation.facilities.length">
                    <h4 class="text-sm text-gray-900 font-medium mb-2">Facilities</h4>
                    <div class="grid sm:grid-cols-4 gap-1">
                        <div
                            *ngFor="let facility of myLocation.facilities"
                            class="group relative border rounded-md p-2 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 bg-white shadow-sm text-gray-900">
                            <span>{{ facility }}</span>
                            <span class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <h4 class="text-sm text-gray-900 font-medium mb-2">Opening Times</h4>
                    <div class="grid gap-1">
                        <div
                            *ngFor="let times of myLocation.openingTimes"
                            class="group relative border rounded-md p-2 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 bg-white shadow-sm text-gray-900">
                            <span>{{ times.days }} {{ times.opening }} - {{ times.closing }}</span>
                            <span class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <app-review [reviews]="myLocation.reviews"></app-review>
                </div>
            </section>
        </div>
    </div>
</div>
<ng-template #loader>
    <div>...loading</div>
</ng-template>
